@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Michroma&display=swap');

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-gradient{
  background: #3759de;
background: linear-gradient(to right, #3d6ebc 10%, #fbfafa 60%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}


.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #7a9bfa;
   /* The typwriter cursor */ /* Keeps the content on a single line */
  margin: 0 0px; /* Gives that scrolling effect as the typing happens */
  padding-right: 10px;
  display: inline-block;
  animation: 
    typing 2s steps(200) 2,
    blink-caret 2s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 63% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  10% { border-color: #7a9bfa; }
}

.shadow {
  box-shadow: 0vw 0vw 1.5vw 2vw #272a36;
}

.shadow-profile-bar{
 
  box-shadow: 1vw 0.5vw 1vw 2vw #272a36;
}


.blinking {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}